

<div class="container-fluid full" ng-class="{'item-horizontal': isVertical()}"> 


 <div class="display-images">
 
   <div class="image-viewer"> 
   <div ng-show="!isLoaded" class="image-not-loaded">
  <i class="fa fa-refresh fa-3x fa-spin"></i>
</div>  
 
 <div ng-show="isLoaded" class="image-loaded">
  <img imageonload="imageLoad()" class="loading image-loader" 
  ng-src="https://vineyardsandbox.s3.amazonaws.com/Rob/tempo/vices/{{device}}.png"/>
</div> 
 </div> 
  
  
  <div class="device-selection">
     
      <button class="btn" 
      ng-class="{'active': device === 'cover'}"
      ng-click="isCover()">Cover</button>
      
      
      <button class="btn" 
      ng-class="{'active': device === 'spread-1'}"
      ng-click="isSpread1()">Spread 1</button>
      
      
      <button class="btn" 
      ng-class="{'active': device === 'spread-2'}"
      ng-click="isSpread2()">Spread 2</button>
      
      <button class="btn" 
      ng-class="{'active': device === 'spread-3'}"
      ng-click="isSpread3()">Spread 3</button>
      
      <button class="btn" 
      ng-class="{'active': device === 'back-cover'}"
      ng-click="isBackCover()">Back</button>
      
      <a target="blank" href="https://vineyardsandbox.s3.amazonaws.com/Rob/tempo/vices/Tempo_2009_low_res.pdf"><button class="btn"><i class="fa fa-file"></i></button></a>
      
    </div>
  <div>

  <div class="description">
    <p>During my last two years at Coastal Carolina University I had the opportunity to work as the Art Director of the Universities "feature" magazine, Tempo. Tempo was a bi-annual publication intended to represent the voice of the student body. I worked with two Editors each semester to develop a publication from concept to printed publication, with the only guidelines being a budget of around $10,000 each semester. My advisor and design mentor, Paul Olsen, helped me succeed in this role in a very hands-off manner. During my two-year tenure, Tempo won many national awards for design and editorial and turned to a point of pride for the University.</p>
  </div>
  
<div class="wrapper">  
  
  <div class="subHead" scroll>
    <h1>Context</h1>
    <p>This issues theme was "Vices and Virtues". This publication was the final of 4, that I oversaw the Art Direction and design of. This publication totaling 62 pages, nearly double the size Tempo had been in the past was a testimate to the interest that the publication had grown due in a large part to the staff and my efforts in past semesters.</p>
    
  </div>
  
  <div class="row">
  <div class="subHead col-md-8" scroll>
    <h1>Scope</h1>
    
    <p>Each of the four issues of Tempo involved creating the publication from initial concept to published product. There were no parameters or restrictions other than content had to be appropriate for the University and we had work with our assigned budget. The position as Art Director helped me grow as a designer tremendously by presenting many challenging layouts concepts and mastering Adobe Creative Suite through practice and necesity to execute. The position also gave me a good amount of experience with project management and working with local printers to determine, binding, paper weight and type.</p>

    <h1 class="float-margin">Responsibilites</h1>
    <ul>
      <li>Art Direction</li>
      <li>Concept</li>
      <li>Design</li>
      <li>Student ollaboration Coordination</li>
      <li>Print Management and Oversight</li>
    </ul>
  </div>


<div class="sidebar col-md-4" scroll>
<div class="subHead" scroll>
    <h1>Awards</h1>
     <h3>2009</h3>
    <ul>College News and Design
      <li><strong>Runner Up: Designer of the Year</strong></li>
      <li><strong>2 First Place Awards</strong></li>
      <li>2 Honorable Mention Award</li>
    </ul>
    <ul>Best of Collegiate Design
      <li><strong>First Place Award</strong></li>
    </ul>
    <ul>Addy© Awards
      <li>Regional Student Gold Award</li>
      <li>3 District Student Silver Awards</li>
      <li>National Finalist</li>
    </ul>
    
    <h3>2008</h3>
    <ul>College News and Design
      <li><strong>Designer of the Year and Grant</strong></li>
      <li>Second Place Award</li>
      <li>Honorable Mention Award</li>
    </ul>
    <ul>Best of Collegiate Design
      <li>Second Place Award</li>
      <li>2 Fourth Place Awards</li>
    </ul>
    <ul>Addy© Awards
      <li>2 Regional Student Gold Awards</li>
      <li>2 District Student Silver Awards</li>
      <li>2 National Finalist Awards</li>
    </ul>
    
    
    
    </div>
    
    
    
 
</div> 
 
</div>
  
   <div id="technology" class="subHead" scroll>
    <h1>Technology</h1>
    <div class="gallery">
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/indesign.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/illustrator.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/photoshop.png" alt></div>

    </div>
  </div>
  
 
</div>
</div>